{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}


{% block content %}
<div class="container">
    <h1>Inscription</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
</div>
{% endblock %}