{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block content %}

<div class="container">
    <h1>Modification du mot de passe</h1>

    <p>
    - <a href="{{path('user_account')}}">Mon compte</a>
    </p>

    {% if success %}
    <div class="alert alert-success">{{success}}</div>
    {% else %}
    <div class="alert alert-danger">{{danger}}</div>
    {% endif %}



    {{form(form)}}

</div>
{% endblock %}
